    .box1 {
          z-index: -1;
          position: relative;
          top: 0px;
          left: 0px;
       }


    .rectangle {
        height: 50%;
        width: 50%;
        background-color: white;
            position: absolute;
      top: 20%;
    bottom: px;
    right: 25%;
      left:25%;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
